@import '../../../styles/imports.scss';


.subscription{
  @include myFlexBox(row, space-between, center);
  width: 100%;
}

.new-videos-count{
  color: $myGray
}

.rightElement-icon{
  color: $myRed
}
